<!DOCTYPE html>
<html>
    <head>
        <title>Les créations du FabLab |Shop</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css" />


        <script src = "hhtps://checkout.stripe.com/checkout.js" defer></script>
        <script>
            let stripePublicKey = '<%= stripePublicKey %>'
        </script>

        <script src="store.js" defer></script>

    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>

                    <li><a href="store.html">STORE</a></li>

                </ul>
            </nav>
            <h1 class="band-name band-name-large">Les créations du FabLab</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header"> Les stickers</h2>
            <div class="shop-items">

                <% items.Les stickers.forEach(function(item) { %>

                <div class="shop-item" data-item-id ="<%= item.id %>" >
                    <span class="shop-item-title"> <%= item.name %> </span>
                    <img class="shop-item-image" src="Images/ <%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price"> € <%= item.price / 100 %> </span>
                        <button class="btn btn-primary shop-item-button" type="button">Ajouter au panier</button>
                    </div>
                </div>

                <% })%>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Team IEQT</h2>
            <div class="shop-items">


                <% items.Team IEQT.forEach(function(item) { %>

                <div class="shop-item" data-item-id ="<%= item.id %>" >
                    <span class="shop-item-title"> <%= item.name %> </span>
                    <img class="shop-item-image" src="Images/ <%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price"> € <%= item.price / 100 %> </span>
                        <button class="btn btn-primary shop-item-button" type="button">Ajouter au panier</button>
                    </div>
                </div>

                <% })%>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Panier</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">Article</span>
                <span class="cart-price cart-header cart-column">Prix</span>
                <span class="cart-quantity cart-header cart-column">Quantité</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">0€</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">Continuer</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">Les créations du FabLab</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="Images/YouTube Logo.png">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>